<div class="row-application">
  <div class="one">
    Calendar & stats
  </div>
   <div class="two">
    <div class = "filter-plus">
        <div class="category-filters">
          <div class="category-btn"  data-filter= "Ready" >
            Ready to apply
          </div>
          <div class="category-btn" data-filter= "Applied">
            Applied
          </div>
          <div class="category-btn" data-filter= "Ongoing" >
            Ongoing process
          </div>
          <div class="category-btn" data-filter= "Waiting">
            Waiting for answer
          </div>
        </div>
      <%= link_to ('<i class="fas fa-plus-circle"></i>').html_safe, new_apply_path, method: :get, class: "filter-btn"%>
    </div>

    <div class="card-application-right">
      <% @applies.each do |apply|%>
        <% if current_user.id === apply.user_id %>
          <div class="card-application" data-filter=<%= apply.status %>>
            <div>
              <img src=<%=apply.organization.logo%> class="card-application-img" />
            </div>
          <div class="card-application-infos">
            <p><%=apply.organization.name%></p>
            <p><%=apply.job_title%></p>
            <p>city</p>
          </div>

          <div class="step">
            <p><%=apply.interviews.last.step%></p>
          </div>

          <div class="slide">
            <span id="RangeValue">0</span>
            <input type="range" name="" value="<%=apply.progression_bar%>" min="0" max="100" onmousemove="rangeSlider(this.value)"
            onChange="rangeSlider(this.value)">
          </div>
          <script type="text/javascript">
            function rangeSlider(value){
              document.getElementById('RangeValue').innerHTML = value;
            }
          </script>
          </div>
        <% end %>
      <% end %>
      </div>
    </div>
</div>

