<div class="row-application">
  <div class="one">
    <div class="calendar-div">
      <%= cl_image_tag("t6ulye4hdqynogdku0ep", class:"calendar") %>
    </div>
    <div class="dashboard">
      <h3>Statistics</h3>
      <h5>You have <%= @applies.count %> applications</h5>
      <%= cl_image_tag("la9abeiklaybfnyry7sz", class:"stats") %>
    </div>
  </div>
   <div class="two">
    <div class = "filter">
        <div class="category-filters">
          <div class="category-btn"  data-filter= "Ready" >
            Ready to apply
          </div>
          <div class="category-btn" data-filter= "Applied">
            Applied
          </div>
          <div class="category-btn" data-filter= "Ongoing" >
            Ongoing process
          </div>
          <div class="category-btn" data-filter= "Waiting">
            Waiting for answer
          </div>
        </div>
    </div>

    <div class="filter-add">
      <a class="filter-plus" data-toggle="modal" data-target="#AddApply" ><i class="fas fa-plus-circle"></i></a>
    </div>


    <% if current_user.applies.count === 0 %>
      <p> You don't have any applications yet <p>
    <% else %>
    <div class="card-application-right">
      <% @applies.each do |apply|%>


        <%= link_to apply_path(apply), class: "card-application-link" do %>

        <div class="card-application" data-filter=<%= apply.status %>>
            <% if current_user.id === apply.user_id %>

            <div>
              <img src=<%=apply.organization.logo%> class="card-application-img" />
            </div>

            <div class="card-application-infos">
              <p><%=apply.organization.name%></p>
              <p><%=apply.job_title%></p>
              <p>city</p>
            </div>

            <div class="step">
              <% if apply.interviews.size == 0 %>
              <p>No interview planned </p>
              <% else %>
              <p><%=apply.interviews.last.step%></p>
              <% end %>
            </div>

            <div class="slider">
              <span id="RangeValue">0</span>
              <input type="range" name="" value="<%=apply.progression_bar%>" min="0" max="100" onmousemove="rangeSlider(this.value)"
              onChange="rangeSlider(this.value)">
            </div>
            <script type="text/javascript">
              function rangeSlider(value){
                document.getElementById('RangeValue').innerHTML = value;
              }
            </script>
<!--             <div class="btn-status">
              <%= link_to ('<i class="far fa-check-circle"></i>').html_safe, change_status_apply_path(apply), method: :patch%>
            </div> -->
          </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

   </div>
  </div>


     <%= render 'shared/new_apply_modal', apply: @apply, display_modal: @display_modal %>


