<div class="row-application">
  <div class="one">
    Calendar & stats
  </div>
   <div class="two">
    <div class = "filter-plus">
      <div class = "filter"></div>
      <%= link_to ('<i class="fas fa-plus-circle"></i>').html_safe, new_apply_path, method: :get, class: "btn-plus"%>
    </div>
    <div class="card-application-right">
      <% @applies.each do |apply|%>
        <% if current_user.id === apply.user_id %>
          <div class="card-application">
            <%=  cl_image_tag("https://image.flaticon.com/icons/png/512/3135/3135680.png", class:"card-application-img") %>
          <div class="card-application-infos">
            <h3><%=apply.organization.name%></h3>
            <h4><%=apply.job_title%></h4>
            <h5>City</h5>
          </div>

          <div class="step">
            <h2><%=apply.interviews.last.step%></h2>

          </div>
          </div>
        <% end %>
      <% end %>
      </div>
    </div>
</div>

