<div class="row-application">
  <div class="one">
      <div class="calendar">
        <h3>Calendar</h3>
        <p id = "today"></p>
        <hr>
        <div class="month">
          <div>
            <i class="fas fa-angle-left prev"></i>
          </div>
          <div class="date">
            <p id = "month"></p>
          </div>
          <div>
            <i class="fas fa-angle-right next"></i>
          </div>
        </div>
        <div class="weekdays">
          <div>Sun</div>
          <div>Mon</div>
          <div>Tue</div>
          <div>Wed</div>
          <div>Thu</div>
          <div>Fri</div>
          <div>Sat</div>
        </div>
        <div class="days"></div>
      </div>
    <div class="dashboard">
      <h3>Statistics</h3>
      <h5>You have <%= Apply.where(user_id: current_user).count %> applications</h5>
      <hr>
      <%= pie_chart Apply.where(user_id: current_user).group(:status).count, colors: ["#E85F5C", "#071422", "#81AE9D", "#736CED"], donut: true %>
      <hr>
      <%= area_chart Apply.where(user_id: current_user).group_by_day(:created_at).count, colors: ["#E85F5C"], title: "Applications per day" %>
    </div>
  </div>
   <div class="two">
    <h3 class="applications-title">My applications</h3>
    <div class = "filter">
        <div class="category-filters">
          <div class="category-btn ready"  data-filter= "Ready" >
            Ready to apply
          </div>
          <div class="category-btn applied" data-filter= "Applied">
            Applied
          </div>
          <div class="category-btn ongoing" data-filter= "Ongoing" >
            Ongoing process
          </div>
          <div class="category-btn waiting" data-filter= "Waiting">
            Waiting for answer
          </div>
        </div>
    </div>

    <div class="filter-add">
      <a class="filter-plus" data-toggle="modal" data-target="#AddApply" ><i class="fas fa-plus-circle"></i></a>
    </div>


    <% if current_user.applies.count === 0 %>
      <p> You don't have any applications yet <p>
    <% else %>

      <div class="card-application-active">
         <% @applies.each do |apply|%>
            <% if current_user.id === apply.user_id && apply.finalstatus === "Pending" %>
              <%= link_to apply_path(apply)do %>
                <div class="card-application" data-filter=<%= apply.status %>>
                <div class= "card-application-left" >
                  <img src=<%=apply.organization.logo%> class="card-application-img" />


                  <div class="card-application-infos">
                    <p><%=apply.job_title.capitalize%></p>
                    <p id="organization-name"><%=apply.organization.name%></p>
                    <% if apply.location.blank?  %>

                    <% else %>
                      <p><small><i class="fas fa-map-marker-alt"></i>  <%=apply.location.gsub(/,.*,/, ', ')%></small></p>
                    <% end %>
                  </div>

                 <div class="step">
                  <% if apply.interviews.size == 0 %>
                    <p>No interview planned </p>
                  <% else %>
                    <p class="itwselector" data-date="<%= apply.interviews.last.date.strftime("%Y-%-m-%-d")%>"><%=apply.interviews.last.step%></p>
                  <% end %>
                 </div>

                <div class="status">
                  <% if apply.status === "Ready to apply"  %>
                    <p id="status-ready"><%= apply.status %></p>
                  <%elsif apply.status === "Applied"  %>
                    <p id="status-applied"><%= apply.status %></p>
                  <%elsif apply.status === "Ongoing process"  %>
                    <p id="status-ongoing"><%= apply.status %></p>
                  <%else%>
                    <p id="status-waiting"><%= apply.status %></p>
                  <% end %>
                </div>

              </div>
              <%=link_to change_status_apply_path(apply), method: :patch do %>
              <div class="arrow-wrapper">
                <%= link_to ('<i class="fas fa-level-up-alt"></i>').html_safe, change_status_apply_path(apply), method: :patch,
                data: {confirm:"Are you sure you want to update the status of your application to #{
                if apply.status === "Ready to apply"
                  "Applied"
                elsif apply.status === "Applied"
                  "Ongoing process"
                elsif apply.status === "Ongoing process"
                  "Waiting for answer"
                else
                  "Ongoing process"
                end } ?"},
                :title => "Update to #{
                if apply.status === "Ready to apply"
                  "Applied"
                elsif apply.status === "Applied"
                  "Ongoing process"
                elsif apply.status === "Ongoing process"
                  "Waiting for answer"
                else
                  "Ongoing process"
                end
              }"%>
                <%= link_to ('<i class="far fa-check-circle"></i>').html_safe, accept_apply_path(apply), method: :patch%>
                <%= link_to ('<i class="far fa-trash-alt" data-toggle="modal" data-target="#AnimationReject" id="animationreject"></i>').html_safe, decline_apply_path(apply), method: :patch%>

              </div>
            <% end %>
          </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

<button id="hide">Archives</button>

<div id="myDIV">
  <% @applies.each do |apply|%>
    <% if current_user.id === apply.user_id && apply.finalstatus === "Accepted" %>
      <%= link_to apply_path(apply)do %>

      <div class="card-application-archive-accepted" data-filter=<%= apply.status %>>
        <div class= "card-application-left" >
          <img src=<%=apply.organization.logo%> class="card-application-img" />
          <div class="card-application-infos">
           <p><%=apply.job_title.capitalize%></p>
           <p id="organization-name"><%=apply.organization.name%></p>
          <% if apply.location.blank?  %>

          <% else %>
            <p><small><i class="fas fa-map-marker-alt"></i>  <%=apply.location%></small></p>
          <% end %>
        </div>
        <div class="step">
          <% if apply.interviews.size == 0 %>
            <p>No interview planned </p>
          <% else %>
            <p><%=apply.interviews.last.step%></p>
          <% end %>
        </div>
        <div class="status">
          <% if apply.status === "Ready to apply"  %>
            <p id="status-ready"><%= apply.status %></p>
          <%elsif apply.status === "Applied"  %>
            <p id="status-applied"><%= apply.status %></p>
          <%elsif apply.status === "Ongoing process"  %>
            <p id="status-ongoing"><%= apply.status %></p>
          <%else%>
            <p id="status-waiting"><%= apply.status %></p>
          <% end %>
        </div>
        <div id="Accepted">
          <p> Job Offer <p>
        </div>
      </div>
    </div>
    <% end %>

      <% elsif current_user.id === apply.user_id && apply.finalstatus === "Declined" %>
        <%= link_to apply_path(apply)do %>
          <div class="card-application-archive-declined" data-filter=<%= apply.status %>>
                    <div class= "card-application-left" >
          <img src=<%=apply.organization.logo%> class="card-application-img" />
          <div class="card-application-infos">
           <p><%=apply.job_title.capitalize%></p>
           <p id="organization-name"><%=apply.organization.name%></p>
          <% if apply.location.blank?  %>

          <% else %>
            <p><small><i class="fas fa-map-marker-alt"></i>  <%=apply.location%></small></p>
          <% end %>
        </div>
        <div class="step">
          <% if apply.interviews.size == 0 %>
            <p>No interview planned </p>
          <% else %>
            <p><%=apply.interviews.last.step%></p>
          <% end %>
        </div>
        <div class="status">
          <% if apply.status === "Ready to apply"  %>
            <p id="status-ready"><%= apply.status %></p>
          <%elsif apply.status === "Applied"  %>
            <p id="status-applied"><%= apply.status %></p>
          <%elsif apply.status === "Ongoing process"  %>
            <p id="status-ongoing"><%= apply.status %></p>
          <%else%>
            <p id="status-waiting"><%= apply.status %></p>
          <% end %>
        </div>
        <div id="Declined">
          <p> No Job Offer <p>
        </div>
      </div>
          </div>
      <% end %>

    <% end %>
  <% end %>
</div>
   </div>
  </div>


     <%= render 'shared/new_apply_modal', apply: @apply, display_modal: @display_modal %>
     <%= render 'shared/animationreject', display_modal: @display_modal %>


