<div class="row-application justify-content-around">
  <div class="one">
    <div class="calendar">
        <h3>Calendar</h3>
        <p id = "today"></p>
        <hr>
        <div class="month">
          <div>
            <i class="fas fa-angle-left prev"></i>
          </div>
          <div class="date">
            <p id = "month"></p>
          </div>
          <div>
            <i class="fas fa-angle-right next"></i>
          </div>
        </div>
        <div class="weekdays">
          <div>Sun</div>
          <div>Mon</div>
          <div>Tue</div>
          <div>Wed</div>
          <div>Thu</div>
          <div>Fri</div>
          <div>Sat</div>
        </div>
        <div class="days"></div>
      </div>
    </div>
  <div class="application-details">
    <div class="text-center d-flex">
      <div>
        <img src=<%=@apply.organization.logo%> class="logo-show" />
      </div>
      <div class="flex-grow-1 text-left title-company">
      <div class= "d-flex align-items-baseline justify-content-between" style="    width: 90%;">
      <h3><%= @apply.organization.name %> - <%= @apply.job_title.capitalize %></h3>
       <% if @apply.location.blank?  %>

                    <% else %>
                      <p><small><i class="fas fa-map-marker-alt"></i>  <%=@apply.location.gsub(/,.*,/, ', ')%></small></p>
                    <% end %>
       </div>
        <hr style="width: 90%; margin-left:0">
        <%= link_to ('<i class="far fa-times-circle"></i>').html_safe, applies_path %>
        <%= link_to edit_apply_organization_path(@apply,@apply.organization) do %>
        <span class="btn button-cta edit-apply ">Edit</span>
        <%end  %>
      </div>
    </div>
      <div class="text-center ">
        <div class="interviews justify-content-around">
          <div class="d-flex">
            <%if @apply.interviews.count > 0  %>
            <% @apply.interviews.each do |interview| %>
              <span class="btn interview_button itwselector" data-description="<%=interview.notes%>" 
              data-itwid="<%=interview.id%>" data-applyid="<%=@apply.id%>"
              data-date="<%= interview.date.strftime("%Y-%-m-%-d")%>" data-start_time="<%=interview.start_time.strftime("%I:%M %p")%>" data-end_time="<%= interview.end_time.strftime("%I:%M %p")%>"><%= interview.step %></span>
            <% end %>
            <%else %>
            <p><em>You have no interviews planned yet !</em></p>
             <%end%>
          </div>
        <div>
        <%if @apply.interviews.count > 0  %>
        <a class="btn" data-toggle="modal" data-target="#ReviewModal" id="additw" ><i class="fas fa-plus-circle"></i></a>
         <%else  %>
       <a class="btn" data-toggle="modal" data-target="#ItwModal" id="additw" ><i class="fas fa-plus-circle"></i></a>
       <%end%>    
      </div>
        </div>
      </div>

<div id='grow'>
  <div class='measuringWrapper'>
        <div class="card-interview" id="itwcard" style="display: none">
  
      </div>
    </div>
</div>
   <hr style="width: 60%">
      <%# <hr style="width: 60%"> %>
      <div class="company-details">
        <h6>Company description</h6>
        <p><%= @apply.organization.description %> </p>
      </div>
      <hr style="width: 60%">
      <div class="company-details">
        <h6>Offer details</h6>
        <p> <%= @apply.description %></p>
      </div>
      <hr style="width: 60%">
      <div class="contacts-apply">
        <h6>My contacts</h6>
        <% if @apply.contacts.count > 0  %>
          <div class="contacts d-flex justify-content-between">
            <div>
            <% @apply.contacts.each do |contact| %>
            <%= link_to contact.linkedin_url, target: :_blank, title: contact.name do %>
              <% if contact.photo.attached? %>
                <%= cl_image_tag(contact.photo.key, class:"avatar-small") %>
              <% else %>
                <%= cl_image_tag("qsdgkammqm7nwczbuagw", class:"avatar-small") %>
              <% end %>
            <% end %>
            <% end  %>

            </div>
            <div>
            <a class="btn" data-toggle="modal" data-target="#ContactModal" id="addcontact" ><i class="fas fa-plus-circle"></i></a>
            </div>
          </div>
          <% else %>
          <div class="contacts d-flex justify-content-between">
            <div>
            <p><em>You have no contacts for the moment, it's time to add one !</em></p>
            </div>
            <div>
            <a class="btn" data-toggle="modal" data-target="#ContactModal" id="addcontact" ><i class="fas fa-plus-circle"></i></a>
            </div>
          </div>
        <% end  %>
      </div>
      <hr style="width: 60%">
      <div>
        <% @reviews.each do |review| %>
          <% if @apply.organization.name == review.interview.apply.organization.name %>
            <div class="reviews">
              <% if review.interview.apply.user.photo.attached? %>
              <%= cl_image_tag(review.interview.apply.user.photo.key, class:"avatar-large") %>
              <%else  %>
               <%= cl_image_tag("qsdgkammqm7nwczbuagw", class:"avatar-large") %>
              <% end  %>

              <div class="reviews-content">
                <div class="reviews-title">
                  <p><strong><%= review.interview.apply.user.first_name %> <%= review.interview.apply.user.last_name %></strong></p>
                  <p><small><%=review.interview.date%></small></p>
                </div>
              <p><%=review.comment%></p>
              </div>
            <p><%=review.rating%>/10</p>
            <div class ="votes">
            <%= link_to apply_interview_review_upvote_path(review.interview.apply, review.interview, review), method: :patch, remote: true do  %>
            <i class=" btn fas fa-chevron-up arrow-vote upvote" data-review-id="<%=review.id%>"  >  </i>
            <%end  %>

	        	<span class="count"id ="countvote-<%=review.id%>"><%=review.votes%></span>

            <%= link_to apply_interview_review_downvote_path(review.interview.apply, review.interview, review), method: :patch, remote: true do  %>
            <i class="btn fas fa-chevron-down arrow-vote downvote" data-review-id="<%=review.id%>"r>  </i>
            <%end  %>

</div>
            </div>
          <% end %>
       <% end %>
      </div>
    </div>
  </div>
</div>

<!--Interview Modal -->

    <%= render 'shared/review_modal', interview: @interview, apply: @apply, review: @review %>
    <%= render 'shared/itw_modal', interview: @interview, apply: @apply %>

<!-- Contact Modal -->

   <%= render 'shared/contact_modal',contact: @contact, apply: @apply%>
   <%= render 'shared/edit_itw_modal', apply: @apply %>


