<div class="container">
  <h2>Find the <mark>best tips</mark> to find the best job</h2>
  <div class="article">
    <% @articles.each do |article| %>
      <%= link_to article_path(article) do%>
        <div class="card-article">
          <%= image_tag "https://images.unsplash.com/photo-1621570359164-ad2429a2c93b?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1334&q=80" %>
          <div class="card-article-infos">
            <h2><%= article.tile %></h2>
            <p><%= article.author %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="my-5 text-center">
    <%= link_to "Go back to homepage", root_path, class:"btn button-classic" %>
  </div>
</div>
