<div class="modal fade" id="ContactModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add an Interview</h5>
         <%=link_to  apply_path(apply), class:"quitmodal" do %>
        <i class="fas fa-times "></i>
          <%end %>
      </div>
      <div class="modal-body">
        <%= simple_form_for([apply, contact]) do |f| %>
      <hr>
      <%= f.input :name, as: :string%>
      <%= f.association :organization, input_html: {class: "select2"}%>
      <%= f.input :linkedin_url, as: :string %>
      <%= f.input :photo, as: :file%>
      </div>
      <div class="modal-footer">
           <%= f.button :submit, "Add", class: "btn button-cta"%>
      </div>
    <% end %>
    </div>
  </div>

</div>
