
<div class="modal fade" id="ItwModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add an Interview</h5>
        <%=link_to  apply_path(apply), class:"quitmodal" do %>
        <i class="fas fa-times "></i>
          <%end %>
      </div>
              <%= simple_form_for([apply, interview]) do |f| %>

      <div class="modal-body">
      <hr>
      <%= f.input :date, as: :string, input_html: {id: "date"}  %>
      <%= f.input :start_time, as: :string, input_html: {id: "hour", class: 'houritw' }%>
      <%= f.input :end_time, as: :string, input_html: {id: "hour", class: 'houritw' }  %>
      <%= f.input :step, as: :string%>
      <%= f.input :notes, as: :text%>
      </div>
      <div class="modal-footer">
           <%= f.button :submit, "Add", class: "btn button-cta"%>
      </div>
      <% end %>
    </div>
  </div>
</div>
