
<div class="navbar navbar-expand-sm navbar-light navbar-jobin">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "https://image.flaticon.com/icons/png/512/3135/3135680.png" %>
    <%= " | jobin" %>
  <% end %>
    <div>
      <ul class="navbar-nav mr-auto" id="indextoactive">
        <% if user_signed_in? %>
           <li class="nav-item <%= 'active-item' %>">
           <%= link_to "My Dashboard", applies_path, class: "link-nav" %>
        </li>
        <% end %>
        <li class="nav-item <%= 'active-item'%>">
          <%= link_to "Articles", articles_path , class: "link-nav" %>
        </li>
      </ul>
    </div>
    <div>
     <% if user_signed_in? %>
       <div class="d-flex">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
       <% if current_user.photo.attached? %>

          <%= cl_image_tag(current_user.photo.key,  class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false) %>

       <%else %>

          <%=  cl_image_tag("qsdgkammqm7nwczbuagw", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false) %>
           <%end %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <h3 class= "dropdown-item">Hi, <%= current_user.first_name %></h3>
            <%= link_to "My Profile",profile_path , class: "dropdown-item" %>

            <%= link_to "Edit Profile",edit_user_registration_path , class: "dropdown-item" %>

            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
        </ul>
        </div>
        </div>

      <% else %>
        <%= link_to "Log in", new_user_session_path, class: "btn button-cta" %>
      <% end %>
    </div>
    </div>
