
<div class="navbar navbar-expand-sm navbar-light navbar-jobin">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "https://image.flaticon.com/icons/png/512/3135/3135680.png" %>
    <%= " | jobin" %>
  <% end %>
    <div>
      <ul class="navbar-nav mr-auto" id="indextoactive">
        <% if user_signed_in? %>
           <li class="nav-item <%= 'active-item' if current_page?(applies_path) %>">
           <%= link_to "My Dashboard", applies_path, class: "link-nav" %>
        </li>
        <% end %>
        <li class="nav-item <%= 'active-item' if current_page?(articles_path)%>">
          <%= link_to "Articles", articles_path , class: "link-nav" %>
        </li>
      </ul>
    </div>

     <% if user_signed_in? %>
     <div class= "connexion">
      <ul class="navbar-nav mr-auto" id="indextoactive">
        <li class="nav-item dropdown">

          <i class="far fa-bell" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
          <div class="dropdown-menu dropdown-menu-right dropdownnotif" aria-labelledby="navbarDropdown">
            <% @notification_applies.each do |notification_apply|%>
            <% if notification_apply.read == false %>
          <%=link_to apply_notification_apply_change_read_path(notification_apply.apply, notification_apply), class:"dropdown-item dropdown-item-notification", method: :patch do %>
            <div class= "notification-card">
            <% if notification_apply.apply.status == "Waiting for answer" %>
              <img src=<%=notification_apply.apply.organization.logo%> class="notification-card-img" />
                <p>Don't forget to contact <strong><%=notification_apply.apply.organization.name%></strong> for the <strong><%=notification_apply.apply.job_title%></strong> offer </p>
              <% else %>
              <img src=<%=notification_apply.apply.organization.logo%> class="notification-card-img" />
                <p>Don't forget to apply <strong><%=notification_apply.apply.organization.name%></strong> for the <strong><%=notification_apply.apply.job_title%></strong> offer </p>
              <% end %>
              </div>
            <% end %>
          <% end %>
          <% end %>
          </div>
        </li>
      </ul>
<% console %>

       <div class="d-flex">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
       <% if current_user.photo.attached? %>

          <%= cl_image_tag(current_user.photo.key,  class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false) %>

       <%else %>

          <%=  cl_image_tag("qsdgkammqm7nwczbuagw", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false) %>
           <% end %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <h3 class= "dropdown-item">Hi, <%= current_user.first_name %></h3>
            <%= link_to "My Profile",profile_path , class: "dropdown-item" %>

            <%= link_to "Edit Profile",edit_user_registration_path , class: "dropdown-item" %>

            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
        </ul>
        </div>
      </div>

      <% else %>
        <%= link_to "Log in", new_user_session_path, class: "btn button-cta" %>
      <% end %>
    </div>
    </div>
