<div class="modal fade" id="AddApply" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add an application</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <%= simple_form_for apply do |f| %>
      <div class="modal-body">

         <%= f.input :organization, input_html: { id: 'companysearch',autocomplete: 'off'  } %>
      <div class="list-group" id="companyresults">
</div>
        <%= f.input :job_title, as: :string, placeholder: 'Enter the position...', input_html: { autocomplete: 'off'  }%>
        <%= f.input :description, as: :text, placeholder: 'Put a short description of the job...', input_html: { autocomplete: 'off'  }%>
        <%= f.input :status, as: :radio_buttons, :collection => %w[Ready\ to\ apply Applied Ongoing\ process Waiting\ for\ answer] , input_html: { autocomplete: 'off'  }%>
        <%= f.input :location, as: :string, input_html: { id: 'address1',autocomplete: 'off'  }, placeholder: 'Enter the city...'%>
        <%= f.input :url, as: :string, placeholder: 'Enter the url of the offer...', input_html: { autocomplete: 'off'  }%>
        <%= f.input :updatedate, input_html: { :value => Date.today()}, as: :hidden %> 
      </div>

      <div class="modal-footer">
           <%= f.button :submit, "Add", class: "btn button-cta"%>
      </div>
     <% end %>
    </div>
  </div>
</div>
