
<% if apply.interviews.count >0  %>
<div class="modal fade" id="ReviewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">

        <h5 class="modal-title" id="exampleModalLabel">First, add a review about : <%=apply.interviews.last.step%></h5>

       <%=link_to  apply_path(apply), class:"quitmodal" do %>
        <i class="fas fa-times "></i>
          <% end %>
      </div>
  <%= simple_form_for([apply, apply.interviews.last,review], remote: true) do |f| %>

      <div class="modal-body">
     
      <%= f.input :rating, :collection => 1..10, id:"examplevotes" %>
      <%= f.input :comment, as: :text, placeholder: 'Give a comment about your previous interview...'%>
      </div>

      <div class="modal-footer">
           <%= f.button :submit, "Add", class: "btn button-cta", id:"submitreview"%>
      </div>
      <% end %>
    </div>
  </div>
</div>
<% end %>
