
<div class="modal fade" id="SchoolModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document"  data-display="<%=display_modal_school ? "show_school" : "none" %>">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add an education</h5>
        <%=link_to  profile_path, class:"quitmodal" do %>
        <i class="fas fa-times "></i>
          <%end %>
      </div>
        <%= simple_form_for experience do |f| %>

      <div class="modal-body">
      <%= f.association :organization, required: true , input_html: { class: 'select2' } %>
      <hr>

         <div class="mb-3">
           <p>Start Date</p>
           <%= f.date_select :start_date,  { :discard_day => true}, {:class => "dateexp"}   %>
         </div>
           <div class="mb-3">
           <p>End Date</p>
           <%= f.date_select :end_date,   { :discard_day => true}, {:class => "dateexp"}   %>
         </div>
      <%= f.input :description, as: :text%>
      <%= f.input :location, as: :string%>
      <%= f.input :category, input_html: { :value => "school"}, as: :hidden %>

      </div>
      <div class="modal-footer">
           <%= f.button :submit, "Add", class: "btn button-cta"%>
      </div>
            <% end %>
    </div>
  </div>
</div>
